<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name="serviceName">spring-boot-web</Property>
        <Property name="logName">sb-web</Property>
        <Property name="layoutPattern">%style{%d{yyyy-MM-dd HH:mm:ss}}{cyan} %highlight{[%-5p]}{FATAL=bg_red, ERROR=red, INFO=green, DEBUG=blue} [%C] - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layoutPattern}"/>
        </Console>
        <RollingFile name="file" fileName="logs/${serviceName}/${logName}.log" filePattern="logs/${serviceName}/${logName}_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="${layoutPattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB"/>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="100" fileIndex="min"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="io.springbootweb" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Logger>
        <Logger name="org.springframework" level="ERROR" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Logger>

        <Root level="INFO" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>

</Configuration>
